name: Build and Push
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: write
      pull-requests: write
    
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.ref }}

      - uses: actions/setup-node@v3
        with:
          node-version: '16.x'

      - name: npm install, build
        run: |
          npm install
          npm run build
      
      - name: Check diff
        id: diff
        run: |
          set -x
          git add -N .
          git_diff=$(git diff --name-only)
          files="${git_diff//$'\n'/, }"
          echo "::set-output name=diff::$files"

      - name: Comment on PullRequest
        uses: thollander/actions-comment-pull-request@v1
        if: ${{ steps.diff.outputs.diff }}
        with:
          message: |
            When the build result on the PR was checked, the following files were changed:
            ${{ steps.diff.outputs.diff }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


      - name: Commit & Push
        if: ${{ steps.diff.outputs.diff && github.pull_request.author != 'dependabot' }}
        run: |
          set -x
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
          git add .
          git commit --author=. -m 'bot: build'
          git push
