name: 'Issue Link Repository'
on:
  pull_request:
    types: [opened]

jobs:
  issue-link:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Add issue links with repository option
        uses: ./
        with:
          repo-token: '${{ secrets.GITHUB_TOKEN }}'
          branch-prefix: 'issue-'
          header: '## header text'
          resolve: 'true'
          repository: 'tktcorporation/tktcorporation'
          link-style: "comment"
